<%= form_with model: [ liquor, liquor.comments.build ] do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.select :status, ['public', 'private', 'archived'], tabindex: 1 %>
  </p>
    <%= f.hidden_field :liquor_id, value: liquor.id %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
