<%= form_with model: liquor do |f| %>
  <div>
    <%= f.label :name%><br>
    <%= f.text_field :name %>
    <% liquor.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :price%><br>
    <%= f.text_field :price %>
    <% liquor.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :amount%><br>
    <%= f.text_field :amount %>
    <% liquor.errors.full_messages_for(:amount).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= f.label :percentage %><br>
    <%= f.text_field :percentage %>
    <% liquor.errors.full_messages_for(:percentage).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<%end%>
