<h1><%= @liquor.name %></h1>
<p><%= @liquor.price %></p>

<ul>
  <li><%= link_to "Edit", edit_liquor_path(@liquor) %></li>
  <li><%= link_to "Destroy", liquor_path(@liquor), data: {
                  "turbo_method": :delete,
                  turbo_confirm: "Are you sure?"
                } %></li>
</ul>

<h2>Comments</h2>
<%= render @liquor.comments %>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
