<p style="color: green"><%= notice %></p>

<%= render @drinking %>

<div>
  <%= link_to "Edit this drinking", edit_drinking_path(@drinking) %> |
  <%= link_to "Back to drinkings", drinkings_path %>

  <%= button_to "Destroy this drinking", @drinking, method: :delete %>
</div>
